.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0; 
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: white;
    border-radius: 4px;
    border: solid;
   
}

.checkmarkDisabled {
    border-color: #9e9e9e;
}

.checkmarkEnabled {
    border-color: #666666;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmarkDisabled {
    background-color: #9e9e9e;
}

.container input:checked ~ .checkmarkEnabled {
    background-color: #246bf6;
    border-color: #246bf6;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 5px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

.checkBox {
    width: 18px;
    height: 18px;
}

.singeTask {
    border: solid green;
}

.viewUndone {
    /* composes: singeTask; */
    color: black;
    text-decoration: none;
}

.viewDone {
    /* composes: singeTask; */
    color: gray;
    text-decoration: line-through;
}



